:root {
  --black-95: #212529;
  --black-social: #2c2c2c;
  --grey-30: #f2f2f2;
  --grey-muted: #f8f9fa;
  --white-80: #f3f6f9;
  --blue-100: #0d6efd;
  --blue-muted: #f0f7ff;
  --orange-100: #ffa500;
  --orange-muted: #fff7df;
  --green-100: #077b07;
  --green-muted: #cdf3cd;
  --whitish: #f4f9fd;
  --color-one: #ffab66;
  // --color-two: #7551cb;
  --color-two: #20055e;
  --modern-sky:#B5EAEA;
  --modern-yellow:#FFE194;
  --modern-lime-green:#EDFFA9;
  --modern-magenta::#E4BAD4;
  --modern-faded-blue:#B8B5FF;

}

html {
  scroll-behavior: smooth;
}
body {
  // font-family: "poppins", sans-serif;
  color: var(--black-95);
}

h1,
h2,
h3 {
  font-family: "Crimson Text", serif;
}
p {
  font-family: "Poppins", sans-serif;
}
a {
  text-decoration: none;
}
// .cursor {
//   // display: block;
//   width: 14px;
//   height: 14px;
//   border: 1px solid #0a0a0a;
//   border-radius: 50%;
//   background-color: #202020b4;
//   position: absolute;
//   z-index: 1;
//   // transform: translate(-5px, -5px);
//   // animation-delay: 2s;
//   transition-timing-function: ease-out;
//   transition-duration: 200ms;
// }

// univarsal pill
// .span-style-one {
//   color: var(--orange-100);
//   background-color: var(--orange-muted);
//   font-weight: 600;
// }
// .span-style-two {
//   color: var(--blue-100);
//   background-color: var(--blue-muted);
//   font-weight: 600;
// }
section {
  width: 70%;
  margin: auto;
}
// top navigation bar
nav {
  .container-fluid {
    width: 70%;
    margin: auto;
  }
  .navbar-brand {
    img {
      height: 35px;
    }
  }
  .fab {
    font-size: 1.2rem;
  }
}

// hero section
.hero-section {
  display: block;
  // margin-top: 3rem;
  // &.text-center-section {
  width: 70%;
  margin: 7rem auto;
  // }
  min-height: 60vh;
  h1 {
    font-size: 3.54rem;
    // font-size: 56px;
    line-height: 1.5;
    // word-wrap: break-word;
    // font-weight: 400;
  }
  p {
    margin-top: 2.3rem;
    font-size: 1.325rem;
  }
  .fa-chevron-down {
    display: flex;
    justify-content: center;
    margin-top: 3rem;
    font-size: 1.53rem;
    animation: arrowUpDown infinite 1500ms 200ms ease-in-out;
    // transform: translate(25);
  }
  @keyframes arrowUpDown {
    0% {
      transform: translateY(0px);
    }
    // 25% {
    //   transform: translateY(5px);
    // }
    75% {
      transform: translateY(10px);
    }

    100% {
      transform: translateY(0px);
    }
  }
}
.text-center {
  text-align: center;
}
h2.center-heading {
  line-height: 1.5;
  font-size: 2rem;
}
// --modern-sky:#B5EAEA;
//   --modern-yellow:#FFE194;
//   --modern-lime-green:#EDFFA9;
//   --modern-magenta::#E4BAD4;
//   --modern-faded-blue:#B8B5FF;
.color-one {
  background-color: var(--modern-sky);
  
}
.color-two {
  background-color: var(--modern-magenta);
}
.color-three {
  background-color: var(--modern-lime-green);
}
.color-four {
  background-color: var(--modern-yellow);
}
a,
a:active,
a:hover {
  text-decoration: none;
}

.service-container {
  min-height: 80vh;
  display: flex;
  flex-direction: row;
  .col-6 {
    width: 35%;
    margin: auto;

    .card {
      margin-top: 50px;
      border: 1px solid var(--whitish);
      background-color: var(--whitish);
      padding: 25px;
      border-radius: 25px;

      .img-responsive {
        padding: 25px;

        border-radius: 50%;
        // height: 25px;
        width: 25px;
      }
    }
  }
}

// featured project text and animation section start here
.project-header {
  h2 {
    // font-weight: 600;
    // padding-left: 12px;
    // span {
    //   display: block;
    //   color: transparent;
    //   text-shadow: none;
    //   -webkit-text-stroke: 2.28px var(--black-95);
    //   // stroke: 0.8px #000;
    // }
  }
}
.project-containers {
  .row {
    display: flex;
    flex-direction: row;
  }
  .project-card {
    position: relative;
    min-height: 300px;

    .color-one {
      // padding: 25px;
    }
    h3 {
      // display: block;
      // margin-top: 2rem;
      font-size: 2.3rem;
      color: var(--color-two);
      span {
        display: block;
      }
    }
    p {
      color: var(--color-two);
      margin-top: 1.5rem;
    }
    .color-one,
    .color-two,.color-three,.color-four {
      min-height: inherit;
      padding: 25px;
    }
  }
}
.project-containers > .row>div:nth-child(odd) {
  margin-bottom: 15px;
}
.project-container {
  // display: flex;
  .project-card {
    display: flex;
    flex-flow: wrap;
    
    margin-bottom: 15px;
    .project-card-image {
      // display: flex;
      img {
        border-radius: 8px;
        margin-right: 10px;
        height: 350px;
      }
    }
    .project-body {
      h3 {
        // display: block;
        margin-top: 2rem;
        font-size: 2.3rem;
        span {
          display: block;
        }
      }
      p {
        margin-top: 1.5rem;
      }
      .link-container {
        a {
          display: block;
          font-size: 1.2rem;
          margin-top: 0.25rem;
        }
      }
    }
  }
}
// .project-header:hover {
//   transition-duration: 200ms;
//   h2 {
//     color: transparent;
//     text-shadow: none;
//     -webkit-text-stroke: 2.28px var(--black-95);
//     span {
//       color: var(--black-95);
//       transition-timing-function: ease-in;
//       transition-duration: 300ms;
//     }
//   }
// }
// featured project text and animation section end here

// project-list start here
.project-list {
  // box-shadow: 0px 9px 24px rgba(0, 0, 0, 0.06);
  box-shadow: 1px 2px 8px 0 rgba(0, 0, 0, 0.06);
  margin-top: 3rem;
  .project--about {
    padding: 2.5rem;
    background-color: #0d6efd08;

    .project--platform {
      font-style: italic;
      color: #41464b;
      display: inline-block;
    }
    p {
      font-size: 0.85rem;
      margin: 1rem 0;
      line-height: 1.6;
    }
    a {
      color: var(--blue-100);
      text-decoration: none;
      font-weight: 600;
      line-height: 1.6;
    }
  }
  .project--image {
    background: var(--grey-30);
    background-size: cover;
    // display: flex;
    // justify-content: center;
    img {
      // max-width: 400px;
      width: 100%;
      height: 350px;
    }
  }
}
.project-list:hover {
  // box-shadow: 0px 19px 24px rgba(0, 0, 0, 0.06);
  transform: translate3d(0, -22px, 20px);
  transition-timing-function: ease-in-out;
  transition-duration: 300ms;
}

.contact-container {
  text-align: center;
  margin-top: 150px;
  h2 {
    line-height: 1.5;
    font-size: 1.85em;
    color: var(--blue-100);
    font-weight: 600;
  }
}

.email-copy {
  display: flex;
  justify-content: center;
  margin-top: 25px;
  // align-items: baseline;
  /* padding: 25px; */
  // background: red;
  // input[type="email"] {
  //   height: 35px;
  //   border-radius: 5px 0 0 5px;
  //   background-color: #f0f7ff;
  //   border: 1px solid #0d6dfd25;
  //   padding-left: 10px;
  //   // font-weight: 600;
  // }
  p#email {
    margin-bottom: 0;
    padding: 15px;
    background-color: var(--blue-muted);
    border: 1px solid var(--blue-100);
    border-radius: 5px 0 0 5px;
    letter-spacing: 0.25px;
    font-size: 1.2rem;
    font-weight: 600;
  }
  button {
    padding: 10px 25px;
    // height: 35px;
    border-radius: 0 5px 5px 0;
    border: none;
    background-color: var(--blue-100);
    color: var(--blue-muted);
    // border: 1px solid #f0f7ff;
  }
  button:hover {
    background-color: #1c77ffe1;
  }
}
p.email-success {
  font-weight: 600;
  color: var(--green-100);
  background: var(--green-muted);
  padding: 5px;
  width: 125px;
  margin: 15px auto;
  transition-timing-function: ease-in;
  transition-duration: 800ms;
  // animation: hideSuccessMsg 200ms 20ms ease-in;
  // display: none;
}

p.hidden {
  display: none;
}
.social {
  text-align: center;
  a.social-links {
    margin: 20px 0;
    padding: 10px 20px;
    display: inline-block;
    text-align: center;
    i {
      font-size: 1.25rem;
      color: var(--black-social);
    }
    /* justify-content: center; */
    /* display: inline-flex; */
  }
}
footer {
  // width: 70%;\
  display: block;
  // padding: 50;
  // margin: 100px auto;
  text-align: center;
  // height: 80px;
  // background-color: #f2f2f2;
  hr {
    width: 60%;
    margin: 15px auto 25px;
  }
  p {
    font-size: 0.85rem;
  }
}
.scroll-top {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #0d6dfd;
  color: #e3ffff;
  text-align: center;
  line-height: 50px;
  font-size: 1.5rem;
  font-weight: 600;
  cursor: pointer;
  transition-timing-function: ease-in;
  transition-duration: 300ms;
  &:hover {
    background-color: #1c77ffe1;
  }
}
.show {
  display: block;
}
.uses-page {
  width: 80%;
  margin: auto;
  h2 {
    margin-top: 100px;
    text-align: center;
  }
  .uses-para {
    margin-top: 30px;
    text-align: center;
  }
  .uses-container {
    .col-6 {
      margin: 25px 0;
    }
  }
}

@media screen and (max-width: 560px) {
  .cursor {
    display: none;
  }
  section {
    width: 80%;
    margin: 4rem auto;
  }
  .hero-section.text-center-section {
    width: 80%;
    margin: 4rem auto;
    h1 {
      font-size: 1.824rem;
      line-height: 1.5;
    }
  }
  .navbar {
    .container-fluid {
      // display: flex;
      flex-direction: column;
      width: 100%;
      margin: 0 auto;
      ul {
        // display: flex;
        flex-direction: row;
        margin: 0 auto;
        li {
          // display: block;
          margin-top: 15px;
          padding: 0 15px;
        }
      }
    }
    .navbar-section-links {
      // margin: -105;
      // display: none;
    }
    .navbar-social {
      display: none;
    }
  }

  .service-container {
    flex-direction: column;
    .col-6 {
      width: 100%;
      margin: auto;
    }
  }
  .project-containers {
    .row {
      display: flex;
      flex-direction: column;
      .col-5,
      .col-7 {
        width: 100%;
        margin: 25px 0 0;
      }
    }
    .project-card {
      position: relative;
      min-height: 300px;

      .color-one {
        // padding: 25px;
      }
      h3 {
        // display: block;
        // margin-top: 2rem;
        font-size: 2.3rem;
        color: var(--color-two);
        span {
          display: block;
        }
      }
      p {
        color: var(--color-two);
        margin-top: 1.5rem;
      }
      .color-one,
      .color-two {
        min-height: inherit;
        padding: 25px;
      }
    }
  }
  // .project-header {
  //   h2 {
  //     // line-height: 1.5;
  //     font-size: 2.3rem;
  //     // letter-spacing: 3px;
  //   }
  // }

  .social {
    a.social-links {
      // margin: 20px 0;
      padding: 10px 10px;
    }
  }
  footer {
    p {
      width: 70%;
      margin: 0 auto 25px;
    }
  }

  .uses-page {
    width: 80%;
    margin: auto;
    h2 {
      margin-top: 100px;
      text-align: center;
    }
    .uses-para {
      margin-top: 30px;
      text-align: center;
    }
    .uses-container {
      flex-direction: column;
      .col-6 {
        margin: 5px 0;
        width: 100%;
      }
    }
  }
}

.about-section {
  display: block;
  // margin-top: 3rem;
  // &.text-center-section {
  width: 70%;
  margin: 7rem auto;
  .col-3 {
    width: 30%;
    text-align: center;
    img {
      width: 250px;
    }
  }
  .col-9 {
    width: 60%;
    margin: auto;
    p {
      // width: 500px;
      font-size: 1.02rem;
      line-height: 1.5;
      font-weight: lighter;
    }
  }
  .resume-btn {
    display: inline-block;
    border: 2px solid var(--blue-100);
    border-radius: 5px;
    margin-top: 25px;
    padding: 10px 25px;
    font-size: 1.19rem;
    text-align: center;
    color: #fff;
    background-color: var(--blue-100);
  }
  .resume-btn:hover {
    border: 2px solid var(--color-two);

    background-color: var(--color-two);
  }
}
@media screen and (max-width: 560px) {
  .about-section {
    width: 80%;
    margin: 4rem auto;
    .col-3 {
      width: 100%;
      img {
        display: flex;
        // text-align: center;
        margin: 0 auto;
        width: 200px;
        height: 200px;
        border-radius: 50%;
      }
    }
    .col-9 {
      width: 100%;
      margin-top: 25px;
      p {
        font-size: 0.982rem;
        line-height: 1.6;
      }
    }
  }
  .email-copy p#email {
    padding: 10px;
    font-size: 1.25rem;
  }
  .social a.social-links {
    margin: 5px 0;
  }
}
// @media screen and (min-width: 561px) and (max-width: 800px) {
//   .navbar {
//     .container-fluid {
//       // display: flex;
//       flex-direction: column;
//       width: 100%;
//       margin: 0 auto;
//       ul {
//         // display: flex;
//         flex-direction: row;
//         margin: 0 auto;
//         li {
//           // display: block;
//           margin-top: 15px;
//           padding: 0 15px;
//         }
//       }
//     }
//     .navbar-section-links {
//       // margin: -105;
//       // display: none;
//     }
//     .navbar-social {
//       display: none;
//     }
//   }
//   .hero-section {
//     display: block;
//     width: 80%;
//     margin: 5rem auto;
//     min-height: 60vh;
//     h1 {
//       font-size: 2.35rem;
//     }
//   }
//   section {
//     width: 80%;
//     margin: auto;
//   }
//   .project-container {
//     .project-card {
//       display: flex;
//       flex-direction: column;
//       .project-card-image {
//         img {
//           height: 350px;
//           width: 100%;
//         }
//       }
//     }
//   }
//   .about-section {
//     display: block;
//     // margin-top: 3rem;
//     // &.text-center-section {
//     width: 80%;
//     margin: 7rem auto;
//     .col-3 {
//       width: 30%;
//       img {
//         width: 150px;
//       }
//     }
//     .col-9 {
//       width: 60%;
//       margin: auto;
//       p {
//         // width: 500px;
//         font-size: 0.82rem;
//         line-height: 1.5;
//         font-weight: lighter;
//         background-color: rebeccapurple;
//       }
//       .col-lg-2 {
//         align-items: center;
//         display: inline-flex;
//         height: 100%;
//         max-width: 100%;
//         border: 1px solid #ccc;
//         border-radius: 16px;
//         font-size: 14px;
//         height: 32px;
//         padding: 0 1em;
//         margin: 0.2em 0.25em;
//         font-weight: 600;
//         cursor: -webkit-grabbing;
//       }
//     }
//   }
// }
// @media screen and (min-width: 801px) and (max-width: 1024px) {
//   .hero-section {
//     min-height: 20vh;
//     p {
//       font-size: 2rem;
//     }
//   }
//   .project-header h2 {
//     line-height: 1.5;
//     font-size: 3rem;
//   }
//   .project-container {
//     .project-card {
//       display: flex;
//       flex-direction: column;
//       .project-card-image {
//         img {
//           height: 450px;
//           width: 100%;
//         }
//       }
//       .project-body {
//         h3 {
//           font-size: 3rem;
//         }
//         p {
//           font-size: 2rem;
//         }
//       }
//     }
//   }
//   .about-section {
//     display: block;
//     // margin-top: 3rem;
//     // &.text-center-section {
//     width: 80%;
//     margin: 7rem auto;
//     // .col-3 {
//     //   width: 30%;
//     //   img {
//     //     width: 150px;
//     //   }
//     // }
//     // .col-9 {
//     //   width: 60%;
//     //   margin: auto;
//     //   p {
//     //     // width: 500px;
//     //     font-size: 0.82rem;
//     //     line-height: 1.5;
//     //     font-weight: lighter;
//     //   }
//     // }
//   }
//   .contact-container h2 {
//     line-height: 1.5;
//     font-size: 2.55em;
//   }
//   .email-copy p#email {
//     font-size: 2.2rem;
//   }
//   i.fas.fa-clipboard {
//     font-size: 1.62rem;
//   }
//   .social a.social-links i {
//     font-size: 2.2rem;
//     color: var(--black-social);
//   }
// }
