:root {
  --black-95: #212529;
  --black-social: #2c2c2c;
  --grey-30: #f2f2f2;
  --grey-muted: #f8f9fa;
  --white-80: #f3f6f9;
  --blue-100: #0d6efd;
  --blue-muted: #f0f7ff;
  --orange-100: #ffa500;
  --orange-muted: #fff7df;
  --green-100: #077b07;
  --green-muted: #cdf3cd;
}

html {
  scroll-behavior: smooth;
}

body {
  color: var(--black-95);
}

h1,
h2,
h3 {
  font-family: "Crimson Text", serif;
}

p {
  font-family: "Poppins", sans-serif;
}

a {
  text-decoration: none;
}

section {
  width: 70%;
  margin: auto;
}

nav .container-fluid {
  width: 70%;
  margin: auto;
}

nav .navbar-brand img {
  height: 35px;
}

nav .fab {
  font-size: 1.2rem;
}

.hero-section {
  display: block;
  width: 70%;
  margin: 7rem auto;
  min-height: 60vh;
}

.hero-section h1 {
  font-size: 3.54rem;
  line-height: 1.5;
}

.hero-section p {
  margin-top: 2.3rem;
}

.hero-section .fa-chevron-down {
  display: flex;
  justify-content: center;
  margin-top: 3rem;
  font-size: 1.53rem;
  animation: arrowUpDown infinite 1500ms 200ms ease-in-out;
}

@keyframes arrowUpDown {
  0% {
    transform: translateY(0px);
  }
  75% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0px);
  }
}

.project-header h2 {
  line-height: 1.5;
  font-size: 2rem;
}

.project-container .project-card {
  display: flex;
}

.project-container .project-card .project-card-image img {
  border-radius: 8px;
  margin-right: 10px;
  height: 350px;
}

.project-container .project-card .project-body h3 {
  margin-top: 2rem;
  font-size: 2.3rem;
}

.project-container .project-card .project-body h3 span {
  display: block;
}

.project-container .project-card .project-body p {
  margin-top: 1.5rem;
}

.project-container .project-card .project-body a {
  font-size: 1.42rem;
}

.project-list {
  box-shadow: 1px 2px 8px 0 rgba(0, 0, 0, 0.06);
  margin-top: 3rem;
}

.project-list .project--about {
  padding: 2.5rem;
  background-color: #0d6efd08;
}

.project-list .project--about .project--platform {
  font-style: italic;
  color: #41464b;
  display: inline-block;
}

.project-list .project--about p {
  font-size: 0.85rem;
  margin: 1rem 0;
  line-height: 1.6;
}

.project-list .project--about a {
  color: var(--blue-100);
  text-decoration: none;
  font-weight: 600;
  line-height: 1.6;
}

.project-list .project--image {
  background: var(--grey-30);
  background-size: cover;
}

.project-list .project--image img {
  width: 100%;
  height: 350px;
}

.project-list:hover {
  transform: translate3d(0, -22px, 20px);
  transition-timing-function: ease-in-out;
  transition-duration: 300ms;
}

.contact-container {
  text-align: center;
  margin-top: 150px;
}

.contact-container h2 {
  line-height: 1.5;
  font-size: 1.85em;
  color: var(--blue-100);
  font-weight: 600;
}

.email-copy {
  display: flex;
  justify-content: center;
  margin-top: 25px;
  /* padding: 25px; */
}

.email-copy p#email {
  margin-bottom: 0;
  padding: 15px;
  background-color: var(--blue-muted);
  border: 1px solid var(--blue-100);
  border-radius: 5px 0 0 5px;
  letter-spacing: 0.25px;
  font-size: 1.2rem;
  font-weight: 600;
}

.email-copy button {
  padding: 10px 25px;
  border-radius: 0 5px 5px 0;
  border: none;
  background-color: var(--blue-100);
  color: var(--blue-muted);
}

.email-copy button:hover {
  background-color: #1c77ffe1;
}

p.email-success {
  font-weight: 600;
  color: var(--green-100);
  background: var(--green-muted);
  padding: 5px;
  width: 125px;
  margin: 15px auto;
  transition-timing-function: ease-in;
  transition-duration: 800ms;
}

p.hidden {
  display: none;
}

.social {
  text-align: center;
}

.social a.social-links {
  margin: 20px 0;
  padding: 10px 20px;
  display: inline-block;
  text-align: center;
  /* justify-content: center; */
  /* display: inline-flex; */
}

.social a.social-links i {
  font-size: 1.25rem;
  color: var(--black-social);
}

footer {
  display: block;
  text-align: center;
}

footer hr {
  width: 60%;
  margin: 15px auto 25px;
}

footer p {
  font-size: 0.85rem;
}

.scroll-top {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #0d6dfd;
  color: #e3ffff;
  text-align: center;
  line-height: 50px;
  font-size: 1.5rem;
  font-weight: 600;
  cursor: pointer;
  transition-timing-function: ease-in;
  transition-duration: 300ms;
}

.scroll-top:hover {
  background-color: #1c77ffe1;
}

.show {
  display: block;
}

@media screen and (max-width: 560px) {
  .cursor {
    display: none;
  }
  section {
    width: 80%;
    margin: 4rem auto;
  }
  .hero-section.text-center-section {
    width: 80%;
    margin: 4rem auto;
  }
  .hero-section.text-center-section h1 {
    font-size: 1.824rem;
    line-height: 1.5;
  }
  .navbar .container-fluid {
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
  }
  .navbar .container-fluid ul {
    flex-direction: row;
    margin: 0 auto;
  }
  .navbar .container-fluid ul li {
    margin-top: 15px;
    padding: 0 15px;
  }
  .navbar .navbar-social {
    display: none;
  }
  .project-header h2 {
    font-size: 2.3rem;
  }
  .project-container .project-card {
    flex-direction: column;
  }
  .project-container .project-card .project-card-image img {
    margin-right: 0;
    width: 100%;
    height: auto;
  }
  .project-container .project-card .project-body p {
    line-height: 1.63rem;
    letter-spacing: 0.81px;
  }
  .social a.social-links {
    padding: 10px 10px;
  }
  footer p {
    width: 70%;
    margin: 0 auto 25px;
  }
}

.about-section {
  display: block;
  width: 70%;
  margin: 7rem auto;
}

.about-section .col-3 {
  width: 30%;
}

.about-section .col-3 img {
  width: 250px;
}

.about-section .col-9 {
  width: 60%;
  margin: auto;
}

.about-section .col-9 p {
  font-size: 1.02rem;
  line-height: 1.5;
  font-weight: lighter;
}

@media screen and (max-width: 560px) {
  .about-section {
    width: 80%;
    margin: 4rem auto;
  }
  .about-section .col-3 {
    width: 100%;
  }
  .about-section .col-3 img {
    width: 150px;
    display: flex;
    margin: 0 auto;
  }
  .about-section .col-9 {
    width: 100%;
    margin-top: 25px;
  }
  .about-section .col-9 p {
    font-size: 0.982rem;
    line-height: 1.6;
  }
  .email-copy p#email {
    padding: 10px;
    font-size: 1.25rem;
  }
  .social a.social-links {
    margin: 5px 0;
  }
}

@media screen and (min-width: 561px) and (max-width: 800px) {
  .navbar .container-fluid {
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
  }
  .navbar .container-fluid ul {
    flex-direction: row;
    margin: 0 auto;
  }
  .navbar .container-fluid ul li {
    margin-top: 15px;
    padding: 0 15px;
  }
  .navbar .navbar-social {
    display: none;
  }
  .hero-section {
    display: block;
    width: 80%;
    margin: 5rem auto;
    min-height: 60vh;
  }
  .hero-section h1 {
    font-size: 2.35rem;
  }
  section {
    width: 80%;
    margin: auto;
  }
  .project-container .project-card {
    display: flex;
    flex-direction: column;
  }
  .project-container .project-card .project-card-image img {
    height: 350px;
    width: 100%;
  }
  .about-section {
    display: block;
    width: 80%;
    margin: 7rem auto;
  }
  .about-section .col-3 {
    width: 30%;
  }
  .about-section .col-3 img {
    width: 150px;
  }
  .about-section .col-9 {
    width: 60%;
    margin: auto;
  }
  .about-section .col-9 p {
    font-size: 0.82rem;
    line-height: 1.5;
    font-weight: lighter;
  }
}

@media screen and (min-width: 801px) and (max-width: 1024px) {
  .hero-section {
    min-height: 20vh;
  }
  .hero-section p {
    font-size: 2rem;
  }
  .project-header h2 {
    line-height: 1.5;
    font-size: 3rem;
  }
  .project-container .project-card {
    display: flex;
    flex-direction: column;
  }
  .project-container .project-card .project-card-image img {
    height: 450px;
    width: 100%;
  }
  .project-container .project-card .project-body h3 {
    font-size: 3rem;
  }
  .project-container .project-card .project-body p {
    font-size: 2rem;
  }
  .about-section {
    display: block;
    width: 80%;
    margin: 7rem auto;
  }
  .contact-container h2 {
    line-height: 1.5;
    font-size: 2.55em;
  }
  .email-copy p#email {
    font-size: 2.2rem;
  }
  i.fas.fa-clipboard {
    font-size: 1.62rem;
  }
  .social a.social-links i {
    font-size: 2.2rem;
    color: var(--black-social);
  }
}
/*# sourceMappingURL=style.css.map */